<div>
    {{#each this.oneArtist.artists.items}}
      <div>
        <h4>{{name}}</h4>
        <img src="{{images.[0].url}}" alt="{{name}}">
        <a href="/albums/{{id}}">
        <button>View Albums</button>
        </a>
      </div>
    {{/each}}

</div>